## Importing packages and loading data

In [1]:
# Import necesscary packages
import pandas as pd
import numpy as np
import time
import timeit

In [2]:
Allocations = pd.read_csv("CurrentAllocation (table).csv", index_col=0, header=3)
Allocations

       Product Group
Shelf
1                 45
2                 79
3                 39
4                 68
5                 73
...              ...
92                 0
93                 0
94                 0
95                 0
96                 0

[96 rows x 1 columns]

In [3]:
Orders = pd.read_excel("OrderList.xlsx", header=6, index_col=0)
Orders

           Position 1  Position 2  Position 3  Position 4  Position 5
Order No.
1                  50          30           0           0           0
2                  49          18          76           0           0
3                  72          52          51          41          35
4                  50           4           0           0           0
5                  76          19          26          80           6
...               ...         ...         ...         ...         ...
1996               60          46          35           0           0
1997                8          43          70          77          31
1998               46           0           0           0           0
1999               90          23          64          35           0
2000                4          35           0           0           0

[2000 rows x 5 columns]

In [4]:
DistanceMatrix = pd.read_excel("DistanceMatrix.xlsx", sheet_name="DistanceMatrix Squares", index_col=0, header=2)
DistanceMatrix

,1,2,3,4,5,6,7,8,9,10,...,88,89,90,91,92,93,94,95,96,Packaging
1,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,2
2,1,0,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,27,3
3,2,1,0,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,27,26,4
4,3,2,1,0,1,2,3,4,5,6,...,23,24,25,26,27,28,27,26,25,5
5,4,3,2,1,0,1,2,3,4,5,...,24,25,26,27,28,27,26,25,24,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,25,26,27,28,27,26,25,24,23,22,...,5,4,3,2,1,0,1,2,3,23
94,26,27,28,27,26,25,24,23,22,21,...,6,5,4,3,2,1,0,1,2,24
95,27,28,27,26,25,24,23,22,21,20,...,7,6,5,4,3,2,1,0,1,25
96,28,27,26,25,24,23,22,21,20,19,...,8,7,6,5,4,3,2,1,0,26
Packaging,2,3,4,5,6,7,8,9,10,11,...,18,19,20,21,22,23,24,25,26,0

In [5]:
# Adjusted distance Matrix for Q4
DistanceMatrix2 = pd.read_excel("DistanceMatrix2.xlsx", sheet_name="DistanceMatrix Squares", index_col=0, header=2)
DistanceMatrix2

,1,2,3,4,5,6,7,8,9,10,...,88,89,90,91,92,93,94,95,96,Packaging
1,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,4,2
2,1,0,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,5,3
3,2,1,0,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,27,6,4
4,3,2,1,0,1,2,3,4,5,6,...,23,24,25,26,27,28,27,26,7,5
5,4,3,2,1,0,1,2,3,4,5,...,24,25,26,27,28,27,26,25,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,25,26,27,28,27,26,25,24,23,22,...,5,4,3,2,1,0,1,2,21,23
94,26,27,28,27,26,25,24,23,22,21,...,6,5,4,3,2,1,0,1,22,24
95,27,28,27,26,25,24,23,22,21,20,...,7,6,5,4,3,2,1,0,23,25
96,4,5,6,7,8,9,10,11,12,13,...,16,17,18,19,20,21,22,23,0,2
Packaging,2,3,4,5,6,7,8,9,10,11,...,18,19,20,21,22,23,24,25,2,0

# Q1 - Distance Function

## Default Order Positions

In [6]:
def distance_fun_default(Allocation, Order, DistanceMatrix):
    total_square = 0
    order_num = Order.shape[0]
    order_size = Order.shape[1]

    # Loop over each order
    for i in range(order_num):
        order = Order.iloc[i]
        current_shelf = "Packaging"

        # Loop over each product group in the current order
        for j in range(order_size):
            product_id = order.iloc[j]
            if product_id != 0:
                # Find the shelf where the current product group is located
                product_shelves = Allocation.index[Allocation["Product Group"] == product_id].tolist()

                current_distance = DistanceMatrix.at[current_shelf, product_shelves[0]]
                total_square += current_distance
                current_shelf = product_shelves[0] 

        # Add the distance back to the packaging area after all the products being picked
        total_square += DistanceMatrix.at[current_shelf, "Packaging"]
        
    return(total_square)

In [7]:
start_time = time.time()
print(distance_fun_default(Allocations, Orders, DistanceMatrix))
end_time = time.time()
runtime = end_time - start_time
print(f"The runtime of the distance function using default order was: {runtime} seconds")

125080
The runtime of the distance function using default order was: 0.9481396675109863 seconds

In [8]:
runtime = timeit.timeit('distance_fun_default(Allocations, Orders, DistanceMatrix)', globals=globals(), number=100)
print(f"The average runtime over 100 executions was: {runtime / 100} seconds")

The average runtime over 100 executions was: 0.841914788030008 seconds

## Greedy Method

In [8]:
def distance_fun_greedy(Allocation, Order, DistanceMatrix):
    total_square = 0
    order_num = Order.shape[0]
    order_size = Order.shape[1]

    # Loop over each order
    for i in range(order_num):
        order = Order.iloc[i]
        current_shelf = "Packaging"

        # Create a set to track the products that have already been picked
        visited_products = set()
        
        # Keep picking goods until all products in the order have been visited
        while len(visited_products) < np.count_nonzero(order):
            # Initialisation
            min_distance = float("inf")
            next_shelf, next_product = None, None
            
            # Loop over each product group in the current order
            for j in range(order_size):
                product_id = order.iloc[j]

                # Skip 0 and already visited products
                if product_id == 0 or product_id in visited_products:
                    continue

                # Find the shelf where the current product group is located
                product_shelves = Allocation.index[Allocation["Product Group"] == product_id].tolist()
                
                if DistanceMatrix[current_shelf][product_shelves[0]] < min_distance:
                    min_distance = DistanceMatrix[current_shelf][product_shelves[0]]
                    next_shelf = product_shelves[0]
                    next_product = product_id
            
            # Update the set of visited products and current position
            visited_products.add(next_product)
            current_shelf = next_shelf

            # Add this minimal distance to the total distance
            total_square += min_distance
            
        # Add the distance from the last shelf back to the packaging area after all the products being picked
        total_square += DistanceMatrix[current_shelf]["Packaging"]
        
    return(total_square)

In [9]:
start_time = time.time()
print(distance_fun_greedy(Allocations, Orders, DistanceMatrix))
end_time = time.time()
runtime = end_time - start_time
print(f"The runtime of the distance function using greedy method was: {runtime} seconds")

96878
The runtime of the distance function using greedy method was: 3.123621702194214 seconds

In [8]:
runtime = timeit.timeit('distance_fun_greedy(Allocations, Orders, DistanceMatrix)', globals=globals(), number=100)
print(f"The average runtime over 100 executions was: {runtime / 100} seconds")

The average runtime over 100 executions was: 2.309721405629989 seconds

# Q2 - Construction Heuristic

## Random Selection

In [10]:
# Define a random allocate generator
def allocation_gen():
    # Create a DataFrame with integers from 1 to 90
    df = pd.DataFrame({'Product Group': range(1, 91)})

    # Shuffle the order of integers randomly
    df = df.sample(frac=1).reset_index(drop=True)

    # Generate 6 random unique integers from 1 to 90
    additional_integers = np.random.choice(np.arange(1, 91), size=6, replace=False)

    # Create a DataFrame for additional integers
    additional_df = pd.DataFrame({'Product Group': additional_integers})

    # Concatenate the additional integers to the existing DataFrame
    df = pd.concat([df, additional_df], ignore_index=True)

    df.index = np.arange(1, 97)
    df.index.name = 'shelf'

    return(df)

In [18]:
# Randomly generte allocations, select the best one
np.random.seed(11190)
Allo_init = allocation_gen()
distance_init = distance_fun_greedy(Allocation=Allo_init, Order=Orders, DistanceMatrix=DistanceMatrix)
for i in range(20):
    Allo = allocation_gen()
    distance = distance_fun_greedy(Allocation=Allo, Order=Orders, DistanceMatrix=DistanceMatrix)
    if distance <= distance_init:
        distance_init = distance
        Allo_init = Allo
Allo_random_select = Allo_init
distance_random_select = distance_init
print(Allo_random_select)
print(distance_random_select)

       Product Group
shelf
1                  9
2                 20
3                 28
4                 32
5                 88
...              ...
92                23
93                75
94                65
95                56
96                71

[96 rows x 1 columns]
89952

# Q3 - Shelf Allocation Improvement

## Local Search Heuristics I

In [20]:
# Local search for the given allocation
Allo = Allocations
Distance_init = distance_fun_greedy(Allo, Orders, DistanceMatrix)

for i in range(95):
    # Swap values that neighboors
    index1 = i
    index2 = i + 1

    # Create a new DataFrame to store the swapped values
    Allo_next = Allo.copy()

    # Get the values at the specified indices
    value1 = Allo.iloc[index1, 0]
    value2 = Allo.iloc[index2, 0]

    # Swap the values
    Allo_next.iloc[index1, 0] = value2
    Allo_next.iloc[index2, 0] = value1

    # Find the allocation and distance 
    Allo_next = Allo_next
    Distance_next = distance_fun_greedy(Allo_next, Orders, DistanceMatrix)

    if Distance_next <= Distance_init:
        Distance_init = Distance_next
        Allo = Allo_next
print(Allo)
print(Distance_init)

       Product Group
Shelf
1                 79
2                 45
3                 68
4                 73
5                 39
...              ...
92                 0
93                 0
94                 0
95                 0
96                42

[96 rows x 1 columns]
95042

In [21]:
# Local search for the allocation provided by random select

Allo = Allo_random_select
Distance_init = distance_fun_greedy(Allo, Orders, DistanceMatrix)

for i in range(95):
    # Swap values that neighboors
    index1 = i
    index2 = i + 1

    # Create a new DataFrame to store the swapped values
    Allo_next = Allo.copy()

    # Get the values at the specified indices
    value1 = Allo.iloc[index1, 0]
    value2 = Allo.iloc[index2, 0]

    # Swap the values
    Allo_next.iloc[index1, 0] = value2
    Allo_next.iloc[index2, 0] = value1

    # Find the allocation and distance 
    Allo_next = Allo_next
    Distance_next = distance_fun_greedy(Allo_next, Orders, DistanceMatrix)

    if Distance_next <= Distance_init:
        Distance_init = Distance_next
        Allo = Allo_next
print(Allo)
print(Distance_init)

       Product Group
shelf
1                  9
2                 20
3                 28
4                 32
5                 88
...              ...
92                75
93                65
94                56
95                71
96                 7

[96 rows x 1 columns]
87250

## Local Search Heuristic II

# Q4 - Floor Plan Improvement

## Distance function in default order with new layout

In [22]:
print(distance_fun_default(Allocations, Orders, DistanceMatrix))
print(distance_fun_default(Allocations, Orders, DistanceMatrix2))

125080
120150

## Distance function in greedy with new layout

In [23]:
print(distance_fun_greedy(Allocations, Orders, DistanceMatrix))
print(distance_fun_greedy(Allocations, Orders, DistanceMatrix2))

96878
93718

## Create an initial allocation by using random selection

In [25]:
# Randomly generte allocations, select the best one
np.random.seed(11190)
Allo_init = allocation_gen()
distance_init = distance_fun_greedy(Allo_init, Orders, DistanceMatrix2)
for i in range(20):
    Allo = allocation_gen()
    distance = distance_fun_greedy(Allo, Orders, DistanceMatrix2)
    if distance <= distance_init:
        distance_init = distance
        Allo_init = Allo
Allo_random_select = Allo_init
distance_random_select = distance_init
print(Allo_random_select)
print(distance_random_select)

       Product Group
shelf
1                 70
2                 45
3                 23
4                 58
5                 88
...              ...
92                53
93                 4
94                29
95                52
96                67

[96 rows x 1 columns]
88756

## Local search heuristics with new distance matrix

In [28]:
# Local search with new distance matrix for the given allocation
Allo = Allocations
Distance_init = distance_fun_greedy(Allo, Orders, DistanceMatrix2)

for i in range(95):
    # Swap values that neighboors
    index1 = i
    index2 = i + 1

    # Create a new DataFrame to store the swapped values
    Allo_next = Allo.copy()

    # Get the values at the specified indices
    value1 = Allo.iloc[index1, 0]
    value2 = Allo.iloc[index2, 0]

    # Swap the values
    Allo_next.iloc[index1, 0] = value2
    Allo_next.iloc[index2, 0] = value1

    # Find the allocation and distance 
    Allo_next = Allo_next
    Distance_next = distance_fun_greedy(Allo_next, Orders, DistanceMatrix2)

    if Distance_next <= Distance_init:
        Distance_init = Distance_next
        Allo = Allo_next
print(Allo)
print(Distance_init)

       Product Group
Shelf
1                 79
2                 45
3                 68
4                 73
5                 39
...              ...
92                 0
93                 0
94                 0
95                 0
96                42

[96 rows x 1 columns]
91668

In [29]:
# Local search with new distance matrix for the allocation provided by random select
Allo = Allo_random_select
Distance_init = distance_fun_greedy(Allo, Orders, DistanceMatrix2)

for i in range(95):
    # Swap values that neighboors
    index1 = i
    index2 = i + 1

    # Create a new DataFrame to store the swapped values
    Allo_next = Allo.copy()

    # Get the values at the specified indices
    value1 = Allo.iloc[index1, 0]
    value2 = Allo.iloc[index2, 0]

    # Swap the values
    Allo_next.iloc[index1, 0] = value2
    Allo_next.iloc[index2, 0] = value1

    # Find the allocation and distance 
    Allo_next = Allo_next
    Distance_next = distance_fun_greedy(Allo_next, Orders, DistanceMatrix2)

    if Distance_next <= Distance_init:
        Distance_init = Distance_next
        Allo = Allo_next
print(Allo)
print(Distance_init)

       Product Group
shelf
1                 70
2                 45
3                 58
4                 23
5                  3
...              ...
92                 4
93                29
94                52
95                67
96                38

[96 rows x 1 columns]
86610